body {
    background-color: #121212;
    font-family: 'Press Start 2P', monospace;
    color: aliceblue;
    overflow: hidden;
}
#content {
    font-size: 24px;
    border: 2px solid aliceblue;
    width: 1500px;
    height: 800px;
    padding: 10px;
    margin: 10px;
    overflow-x: wrap;
    overflow: scroll;
}
#textInput {
    background-color: #121212;
    outline: 0;
    font-size: 24px;
    color: aliceblue;
}
#wordList {
    width: 312px;
    height: flex;
    min-height: 0px;
    max-height: 100px;
    overflow-y: scroll;
    background-color: hsl(180, 25%, 12%);
}
.selected {
    background-color: hsl(180, 25%, 25%);
}